<div class="inner">
    <img src="/img/inner/inner-ser.jpg" alt="" class="inner__bg">
</div>

<div class="inner__mov">
    <img src="/img/rec/inner-mov.jpg" alt="" class="inner__mov--img">
</div>

<div class="contacto container">
    <div class="contacto__header">
        <h1 class="contacto__header--title">Contáctanos | K1n0 C0m</h1>
        <p class="contacto__header--subtitle">Encuéntranos fácilmente en <strong>Medellín</strong> o contáctanos en
            cualquiera de nuestras líneas de <strong>atención al cliente</strong>.</p>
    </div>
</div>

<div class="contacto__body">
    <h2 class="contacto__body--header">K1n0 C0m en Medellín</h2>

    <div class="contacto__body--map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4014248913822!2d-75.59213818531428!3d6.21066879550403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44291b4753aee5%3A0x3bbb2ed377c2463d!2sK1n0.c0m!5e0!3m2!1ses-419!2sco!4v1673650812812!5m2!1ses-419!2sco"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{{> pres}}