<div class="inner">
    <img src="/img/inner/inner-ser.jpg" alt="" class="inner__bg">
</div>

<div class="inner__mov">
    <img src="/img/rec/inner-mov.jpg" alt="" class="inner__mov--img">
</div>

<nav class="migapan container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Política de Cookies</li>
    </ol>
</nav>

<div class="cookies container">
    <div class="cookies__header text-center">
        <h1 class="cookies__header--title">
            Política de Cookies | K1n0.com
        </h1>
    </div>

    <div class="cookies__body container">
        <p class="cookies__body--text text-center">
            El acceso a la Web puede implicar el uso de cookies, aunque la página puede funcionar sin su
            uso. Las cookies son archivos pequeños que almacenan información en el navegador de cada usuario
            de modo
            que el servidor pueda reconocer cierta información que solamente el servidor pueda leer. Las
            cookies
            duran un tiempo limitado. Ninguna cookie permite revelar cualquier teléfono, correo electrónico
            u otros
            detalles de identificación.<br><br>

            Las cookies no pueden extraer ninguna información del disco duro del usuario u obtener
            información personal sobre el mismo. La única manera que la información personal de un usuario
            puede formar
            parte de un archivo de la cookie es si el usuario personalmente da esta información al servidor.
            Aunque las
            cookies nos ayudan a optimizar su proceso de reserva, los usuarios que no deseen recibir las
            cookies o que
            no quieran que se informe de su visita, pueden configurar su navegador a tal efecto.<br><br>

            Todos los navegadores de Internet tienen opciones disponibles en su configuración que permiten
            bloquear o permitir las cookies de sitios web concretos.<br><br>

            Nuestra página y e-mails con formato HTML pueden utilizar balizas y/o cookies para realizar
            estadísticas acerca del uso de nuestra página web. Una baliza web es una imagen colocada en el
            mensaje para
            informarnos de la visualización de dicho mensaje, con el único objetivo de realizar estadísticas
            de uso.<br><br>

            Para más información sobre como bloquear el uso de las cookies a través del navegador Chrome
            pulse <a href="https://support.google.com/chrome/answer/95647?hl=es&co=GENIE.Platform=Desktop"
                target="_blank" rel="nofollow">aquí</a><br><br>

            Para más información sobre como bloquear el uso de las cookies a través del navegador Explorer
            pulse <a
                href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies"
                target="_blank" rel="nofollow">aquí</a><br><br>

            Para más información sobre como bloquear el uso de las cookies a través del navegador Firefox
            pulse
            <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we"
                target="_blank" rel="nofollow">aquí</a><br><br>

            Para más información sobre como bloquear el uso de las cookies a través del navegador Safari
            pulse <a href="https://support.apple.com/kb/ph5042?locale=es_LA" target="_blank"
                rel="nofollow">aquí</a><br><br>
        </p>
        <div class="cookies__body--table text-center">
            <table class="table body__table" style="border: 2px solid black; margin-bottom: 60px;">
                <div class="body__table--header">
                    <h3 class="table__header--title">
                        Nuestras Cookies
                    </h3>
                </div>
                <thead class="body__table--sup">
                    <tr class="body__table--titles">
                        <th class="table--title--item">
                            Categoría / Tipo
                        </th>
                        <th class="table--title--item">
                            Nombre de la cookie
                        </th>
                        <th class="table--title--item">
                            Propósito
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Funcionamiento de la web</td>
                        <td>DispoParams</td>
                        <td>Almacena información necesaria para ponernos en contacto con usuarios</td>
                    </tr>
                    <tr>
                        <td>Funcionamiento de la web</td>
                        <td>no_mostrar_banernew</td>
                        <td>Evita que vuelva a aparecer el banner de información.</td>
                    </tr>
                    <tr>
                        <td>Seguridad</td>
                        <td>crsftoken</td>
                        <td>Evita que terceros puedan realizar acciones en los sitios que hemos iniciado sesión sin
                            nuestro conocimiento.</td>
                    </tr>
                </tbody>
            </table>

            <table class="table body__table" style="border: 2px solid black; margin-bottom: 60px;">
                <div class="body__table--header">
                    <h3 class="table__header--title">
                        Cookies de terceros
                    </h3>
                </div>
                <thead class="body__table--sup">
                    <tr class="body__table--titles">
                        <th class="table--title--item">
                            Categoría / Tipo
                        </th>
                        <th class="table--title--item">
                            Tercero
                        </th>
                        <th class="table--title--item">
                            Propósito
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Análisis del sitio</td>
                        <td>Google</td>
                        <td>Monitorizar la navegación del usuario en la web con la finalidad de analizar el
                            uso que se hace de la misma, detectar incidencias y mejorar la usabilidad.</td>
                    </tr>
                    <tr>
                        <td>Gestión de favoritos y enlaces</td>
                        <td>AddThis, Facebook, Google y Twitter</td>
                        <td>Permiten compartir enlaces en las redes sociales y sitios web más conocidos.</td>
                    </tr>
                </tbody>
            </table>

            <table class="table body__table" style="border: 2px solid black; margin-bottom: 60px;">
                <div class="body__table--header">
                    <h3 class="table__header--title">
                        Cookies de Terceros destinadas a marketing
                    </h3>
                </div>
                <thead class="body__table--sup">
                    <tr class="body__table--titles">
                        <th class="table--title--item">
                            Categoría / Tipo
                        </th>
                        <th class="table--title--item">
                            Tercero
                        </th>
                        <th class="table--title--item">
                            Propósito
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Marketing - Retargeting</td>
                        <td>Zanox, Ve Interactive, TripAdvisor</td>
                        <td>Gestión de anuncios publicitarios con las mejores ofertas según los servicios que
                            has estado buscando anteriormente.</td>
                    </tr>
                    <tr>
                        <td>Marketing - Retargeting</td>
                        <td>Affilinet, Google Adwords. Sociomantic, TripAdvisor</td>
                        <td>Monitorizar la efectividad de las campañas publicitarias, para mostrar mensajes
                            que sean relevantes.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{{> pres}}