<div class="inner">
    <img src="/img/inner/inner-ser.jpg" alt="" class="inner__bg">
</div>

<div class="inner__mov">
    <img src="/img/rec/inner-mov.jpg" alt="" class="inner__mov--img">
</div>

<nav class="migapan container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/servicios">Servicios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Desarrollo</li>
    </ol>
</nav>

<div class="diseno container text-center">
    <div class="diseno__header">
        <h1 class="diseno__header--title">Servicios de Desarrollo Web y de Apps Móviles en Medellín | K1n0 C0m</h1>
        <p class="diseno__header--subtitle">Las nuevas tecnologías y tendencias para la captación de públicos más amplios</p>
    </div>
</div>

{{> pres}}